doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="//code.jquery.com/jquery.js")  
  script(src="/action.js") 
  script(src="/delete.js") 
  script(src="/javascripts/script.js")